replicaCount: 1

image:
  registry: ghcr.io
  repository: fallenbagel/jellyseer
  tag: v2.7.0
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ghcr-creds

strategy:
  type: Recreate

env:
  TZ: America/Montreal
  LOG_LEVEL: info

service:
  type: ClusterIP
  port: 5055

ingress:
  enabled: false

volumes:
 - name: downloads
   persistentVolumeClaim:
     claimName: media-pvc

volumeMounts:
  - name: downloads
    mountPath: /downloads
    readOnly: true