image:
  repository: lscr.io/linuxserver/sonarr
  tag: 4.0.15
  pullPolicy: IfNotPresent

strategy:
  type: Recreate

service:
  main:
    ports:
      http:
        port: 8989

ingress:
  main:
    enabled: false

securityContext:
  runAsUser: 0
  runAsGroup: 0
  fsGroup: 0

persistence:
  config:
    enabled: true
    mountPath: /config
    existingClaim: sonarr-config-nfs-pvc

  media:
    enabled: true
    mountPath: /media
    existingClaim: media-pvc

env:
  TZ: "America/Montreal"
