image:
  repository: lscr.io/linuxserver/sonarr
  tag: 4.0.15
  pullPolicy: IfNotPresent

strategy:
  type: Recreate

service:
  main:
    ports:
      http:
        port: 8989

ingress:
  main:
    enabled: false

persistence:
  config:
    enabled: true
    size: 5Gi
    storageClass: local-path
    mountPath: /config

  media:
    enabled: true
    mountPath: /media
    existingClaim: media-pvc

env:
  TZ: "America/Montreal"
