image:
  repository: lscr.io/linuxserver/sonarr
  tag: 4.0.15
  pullPolicy: IfNotPresent

service:
  main:
    ports:
      http:
        port: 7878

ingress:
  main:
    enabled: false

persistence:
  config:
    enabled: true
    mountPath: /config
    existingClaim: sonarr-config-nfs-pvc

  media:
    enabled: true
    mountPath: /downloads
    existingClaim: media-pvc

env:
  TZ: "America/Montreal"
probes:
  liveness:
    enabled: true
    ## Set this to true if you wish to specify your own livenessProbe
    custom: true
    ## The spec field contains the values for the default livenessProbe.
    ## If you selected custom: true, this field holds the definition of the livenessProbe.
    spec:
      exec:
        command:
        - /usr/bin/env
        - bash
        - -c
        - curl --fail localhost:7878
      initialDelaySeconds: 60
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 10
