image:
  repository: lscr.io/linuxserver/sonarr
  tag: 4.0.15
  pullPolicy: IfNotPresent

service:
  main:
    ports:
      http:
        port: 7878

ingress:
  main:
    enabled: false

persistence:
  config:
    enabled: true
    mountPath: /config
    existingClaim: sonarr-config-nfs-pvc

  media:
    enabled: true
    mountPath: /downloads
    existingClaim: media-pvc

env:
  TZ: "America/Montreal"
probes:
# In your sonarr values.yaml
probes:
  liveness:
    enabled: true
    spec:
      tcpSocket:
        port: 7878
      initialDelaySeconds: 60
      periodSeconds: 10
      timeoutSeconds: 2
      failureThreshold: 5
      successThreshold: 1

  readiness:
    enabled: true
    spec:
      tcpSocket:
        port: 7878
      initialDelaySeconds: 0
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3
      successThreshold: 1

  startup:
    enabled: true
    spec:
      tcpSocket:
        port: 7878
      initialDelaySeconds: 0
      periodSeconds: 5
      timeoutSeconds: 1
      failureThreshold: 30
      successThreshold: 1
